:global {
    html, body {
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    body {
        background-color: #F6F8FA;
    }

    #scroll-root {
        height: 100%;
        overflow-y: scroll;
        position: relative;
    }
}
